header {
    position: fixed;
    background-color: rgb(65, 65, 65);
    height: 100px;
    width: 800px;
    top: 0px;
    left: 0px;
}

#left{
   background-color: lightgray;
   position: fixed;
   height: 5000px;
   width: 100px;
   top: 100px;
   bottom: 5000px;
   left: 0px;
}

/* #middle {
    position: fixed;
    top: 100px;
    left: 110px; 
 } */

 #right {
    background-color: lightgray;
    position: fixed;
    height: 5000px;
    width: 100px;
    top: 100px;
    left: 650px; 
 }

 footer {
     background-color: rgb(36, 36, 36);
     height: 100px;
     position: fixed;
     height: 100px;
     width: 550px;
     top: 1000px;
     left: 100px;
 }